/* ############################## MIXINS ############################## */
//Fastio HERO
@mixin fastio-hero($img_src){
	background-image: url($img_src);
	width:100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	height:100vh; //check if this is responsive and Xbrowser
	display: block;
	header{
		padding:50vh 0 0 0; //check if this is responsive and Xbrowser
		h1,h2,h3,h4,h5,h6{
			color:white;
		}
	}
}

/* ############################## COMMON ############################## */
// Navigation
.fastio-nav{
	button.btn.dropdown-toggle{
		cursor:pointer;
		font-weight: 400;
		color: $primary;
		background-color: transparent;
		text-decoration: none;
		border-color: transparent;
		box-shadow: none;
		padding: 0 10px;
		&::after{
			@include transition(all 250ms ease-in);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
			background: $primary;
			border: 0;
			vertical-align: -1px;
			content: " ";
			transform-origin: left center;
			text-align: left;
			transform-style: preserve-3D;
			height: 14px;
			width: 2px;
			display: inline-block;
			padding: 0;
			margin: 0;
			margin-left: 7px;
		}
	}
	&.show > button.btn.dropdown-toggle{
		text-decoration: none;
		border-color: transparent;
		box-shadow: none;
		&::after{
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		}
	}
	.dropdown-menu{
		background-color:transparent;
		border: 0;
		padding: 0;
		margin: 0;
		text-align: right;
		left: inherit;
		right: 24px;
		a{
			background-color:transparent;
			color: $primary;
			padding: 0;
			margin: 0;
			text-transform: uppercase;
			&:hover, &:focus, &.hover, &.focus{
				color: $h20-light-blue;
			}
		}
	}
	&.show > .dropdown-menu {
		animation-name: slidenavAnimation;
		animation-duration:250ms;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;

		-webkit-animation-name: slidenavAnimation;
		-webkit-animation-duration:250ms;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-fill-mode: forwards;

		-moz-animation-name: slidenavAnimation;
		-moz-animation-duration:250ms;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease-in;
		-moz-animation-fill-mode: forwards;
	}
	@keyframes slidenavAnimation {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@-webkit-keyframes slidenavAnimation {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

//Home Footer
.home-footer-wrapper{
	position: absolute;
	padding-top: 0;
	padding-bottom: 0;
	bottom: 0;
	width: 100%;
	height: 56px;
	line-height: 30px;
	footer{
		//WPML
		.wpml-ls{
			padding:0;
			direction: rtl;
			display: inline-block;
			ul{
				direction: rtl;
				display: inline-block;
				list-style: circle;
				list-style-position: outside;
				color: white;
				li{
					list-style-type: circle;
					display: list-item;
					a{
						display: initial;
						padding: 0;
						font-size:90%;
						color:white;
						@include transition(all 250ms ease-in);
						&:hover,
						&:focus{
							color:$primary;
						}
					}
				} 
			}
		}
		//LINK
		.fastio-home-link{
			font-size:90%;
			@include transition(all 250ms ease-in);
			i.fa{
				display: block;
				font-size: 250%;
				line-height: 0px;
				padding: 10px 0;
			}
			&:hover{
				text-decoration: none;
				color:white;
			}
		}
		//SOCIAL
		.fastio-home-social{
			margin: 0;
			padding: 0;
			li > a{
				font-size:150%;
				color:white;
				@include transition(all 250ms ease-in);
				&:hover,
				&:focus{
					color:$primary;
				}
			}
		}
	}
}
//Main Footer
.main-footer-wrapper{
	background-color: $h20-light-blue;
	color: white;
	height: 62px;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 46px;
	footer{
		.fastio-footer-widget{
			font-size:70%;
		}
		.fastio-footer-social{
			margin: 0;
			padding: 0;
			li > a{
				font-size:200%;
				color:white;
				@include transition(all 250ms ease-in);
				padding:.5rem;
				&:hover,
				&:focus{
					color:$primary;
				}
			}
		}
		.fastio-footer-lang{
			//WPML
			.wpml-ls{
				padding:0;
				direction: rtl;
				display: inline-block;
				ul{
					direction: rtl;
					display: inline-block;
					list-style: circle;
					list-style-position: outside;
					color:inherit;
					li{
						list-style-type: circle;
						display: list-item;
						a{
							display: initial;
							padding: 0;
							font-size:70%;
							color:inherit;
							@include transition(all 250ms ease-in);
							&:hover,
							&:focus{
								color:$primary;
							}
						}
					} 
				}
			}
		}
		.fastio-footer-nav{
			ul > li > a{
				font-size:70%;
				color:inherit;
				@include transition(all 250ms ease-in);
				&:hover,
				&:focus{
					color:$primary;
				}
			}
		}
		.fastio-footer-copy{
			font-size:60%;
			line-height: 46px;
		}
	}
}

//Individual page footer styling
body.page-template-historiafastio .main-footer-wrapper, // Desde 1979
body.page-template-go .main-footer-wrapper, // Fastio GO
body.page-template-hotwheels-single .main-footer-wrapper{ // Hotwheels Car Pages 
	background-color: $h20-blue;
	color: white;
}

//Fastio bottom img links
.fastio-img-links{
	article{
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 33vh; //check if this is responsive and Xbrowser
		a{
			display: table;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color:$h20-dark-blue;
			@include transition(all 250ms ease-in);
			&:hover,
			&.hover,
			&:focus,
			&.focus{
				color:white;
			}
			h5{
				margin: 0;
				padding: 0;
				display: table-cell;
				text-align: center;
			}
		}
	}
}
/* ############################## HOMEPAGE ############################## */

// Home FullScreen Vídeo 
.fastio-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
// Wrapper Home TODO: JS to get nav height.
.wrapper-home{
	margin-top:	95px;
}

/* ############################## HISTORIA FASTIO ############################## */
body.page-template-historiafastio{
    background: url(../img/Fundo-aguarela.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	#seccao5{
		background-image: url(../img/Fundo_Seccao_Azul.svg);
		background-size:100% 100%;
		-o-background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		background-size:cover;
	}
}
/* ############################## A NOSSA AGUA ############################## */
body.page-template-a-nossa-agua{
	.fastio-hero{ @include fastio-hero('../img/ImagemAgua_1.jpg'); }
	.fastio-products{
		background-color: $h20-light-blue;
		color:white;
		padding: 6rem 4rem;
		.list-group{
			border: 0;
			border-radius: 0;
			border-left-color:white;
			border-left-width: 1px;
			border-left-style: solid;
			.list-group-item{
				background: none;
				color: white;
				border: 0;
				border-radius: 0;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				margin-left: -2px;
				&.active,
				&:hover,
				&.hover,
				&:focus,
				&.focus{
					color:$primary;
					border-left-style: solid;
					border-left-color:$primary;
					border-left-width: 3px;
				}
			}
		}
		.gallery > .gallery-item{
			cursor:pointer;
			.wp-caption-text.gallery-caption{
				display: none;
			}
		}
		footer > p{
			margin: 0;
			font-size: 70%;
		}
	}
	.fastio-hero-2{ @include fastio-hero('../img/ImagemAgua_2.jpg'); }
	.fastio-benefits{
		position: relative;
		padding-bottom: 6rem;
		img.ondas{
			position: absolute;
			top: 0;
			z-index: 9;
			&.left{left:-20px;}
			&.right{right:0px;}
		}
		.container{
			margin-top: -2rem;
			background-color: $h20-light-blue;
			color:white;
			padding: 6rem 4rem;
			article{
				padding: 0 1rem;
				p{
					font-size: 70%;
					margin: 0;
				}
			}
		}
	}
}