//FASTIO VARS
/*
	Azul Claro - R=0 G=174 B=239 A=38%
	Azul - R=0 G=174 B=239
	Azul Escuro - R=0 G=111 B=186
	Amarelo - R=255 G=242 B=0
*/

//COLORS
$h20-blue: #00aeef; // rgb(0,174,239)
$h20-light-blue: lighten($h20-blue,38%);
$h20-dark-blue: #006fba; // rgb(0,111,186)
$h20-yellow: #fff200; // rgb(255,242,0)

//TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Allerta');
$allerta: "Allerta", sans-serif; // Titles, texts and navs

/* #################### BOOTSTRAP OVERWRITES #################### */

//COLORS
$primary: $h20-blue;
$secondary: $h20-yellow;
$warning: $h20-yellow;

//TYPOGRAPHY
$font-family-sans-serif: $allerta;
$font-family-base: $allerta;