/* ############################## COMMON ############################## */
// Navigation
.fastio-nav{
	button.btn.dropdown-toggle{
		font-weight: 400;
		color: $primary;
		background-color: transparent;
		text-decoration: none;
		border-color: transparent;
		box-shadow: none;
		padding: 0 10px;
		&::after{
			-webkit-transition: all 250ms ease-in;
			-moz-transition: all 250ms ease-in;
			-ms-transition: all 250ms ease-in;
			-o-transition: all 250ms ease-in;
			transition: all 250ms ease-in;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
			background: $primary;
			border: 0;
			vertical-align: -1px;
			content: " ";
			transform-origin: left center;
			text-align: left;
			transform-style: preserve-3D;
			height: 14px;
			width: 2px;
			display: inline-block;
			padding: 0;
			margin: 0;
			margin-left: 7px;
		}
	}
	&.show > button.btn.dropdown-toggle{
		text-decoration: none;
		border-color: transparent;
		box-shadow: none;
		&::after{
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		}
	}
	.dropdown-menu{
		-webkit-transition: all 250ms ease-in;
		-moz-transition: all 250ms ease-in;
		-ms-transition: all 250ms ease-in;
		-o-transition: all 250ms ease-in;
		transition: all 250ms ease-in;
		background-color:transparent;
		border: 0;
		padding: 0;
		margin: 0;
		text-align: right;
		left: inherit;
		right: 24px;
		a{
			background-color:transparent;
			color: $primary;
			padding: 0;
			margin: 0;
			text-transform: uppercase;
			&:hover, &:focus, &.hover, &.focus{
				color: $h20-light-blue;
			}
		}
	}
}

/* ############################## HOMEPAGE ############################## */

// Home FullScreen Vídeo 
.fastio-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
// Wrapper Home TODO: JS to get nav height.
.wrapper-home{
	margin-top:	95px;
}

/* ############################## HISTORIA FASTIO ############################## */
body.page-template-historiafastio{
    background: url(../img/Fundo-aguarela.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
