//FASTIO VARS
/*
	Azul Claro - R=0 G=174 B=239 A=38%
	Azul - R=0 G=174 B=239
	Azul Escuro - R=0 G=111 B=186
	Amarelo - R=255 G=242 B=0
*/

//COLORS
$h2o-blue: #00aeef; // rgb(0,174,239)
$h2o-light-blue: lighten($h2o-blue,38%);
$h2o-dark-blue: #006fba; // rgb(0,111,186)
$h2o-yellow: #fff200; // rgb(255,242,0)

//TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Allerta');
$allerta: "Allerta", sans-serif; // Titles, texts and navs

//SHADOWS
$h2o-text-shadow: .0em .060em .060em rgba(83, 83, 83, .66);
$h2o-box-shadow-after: .0em .060em .060em 0em rgba(83, 83, 83, .66);
$h2o-box-shadow: -.060em 0em .060em 0em rgba(83, 83, 83, .66);

/* #################### BOOTSTRAP OVERWRITES #################### */

//COLORS
$primary: $h2o-blue;
$secondary: $h2o-yellow;
$warning: $h2o-yellow;

//TYPOGRAPHY
$font-family-sans-serif: $allerta;
$font-family-base: $allerta;

//GRID
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,//992px
  xl: 1279px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1140px,//960px
  xl: 1240px
);

